<h1>Edit user</h1>
<%= form_for :user, url: user_path(@user), method: :patch do |f| %>
    <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
        <% end %>
    <% end %>
    <p>
        <label>First name</label><br>
        <%= f.text_field(:fName, {:class => 'form-control'}) %>
    </p>
    
    <p>
        <label>Last name</label><br>
        <%= f.text_field(:lName, {:class => 'form-control'}) %>
    </p>
    
    <p>
        <%= f.label :email %><br>
        <%= f.text_field(:email, {:class => 'form-control'}) %>
    </p>
    
    <p>
        <%= f.label :password %><br>
        <%= f.password_field(:password, {:class => 'form-control'}) %>
    </p>
    
    <p>
        <%= f.label :password_again %><br>
        <%= f.password_field(:password_again, {:class => 'form-control'}) %>
    </p>
    
    <p>
        <label>User Type</label><br>
        <small><i>(You cannot change your type of user)</i></small><br>
        <input id="user_type" name="user_type" type="radio" value="Artist" disabled="true"/> Artist<br> 
        <input id="user_type" name="user_type" type="radio" value="Client" disabled="true"/> Client<br>
    </p>
    
    <p>
        <%= f.submit({:class => 'btn btn-primary'}) %>
    </p>
<% end %>